@import "tailwindcss";

/* Globale Farben */
@theme {
  --color-Hauptlogo: #2a1b12;
  --color-Ueberschriften: #2b1b12;
  --color-Fließtext: #4f3527;
  --color-Kaesten: #ddc7bb;
  --color-Backround: #fef7f2;
  --color-IconsSchriftSignUpFeld: #695346;
  --color-IconsObereLeiste: #2b1b12;
}

/* Globale Schriften */
@theme {
  --font-Hauptschrift: "Open Sans", sans-serif;
  --font-Ueberschriften: "Roboto", sans-serif;
}

/* Umgang Variabeln mit Tailwind sind hier zu sehen: https://tailwindcss.com/docs/theme */
