@import "tailwindcss";

/* Globale Farben */
:root {
  --color-Hauptlogo: #2a1b12;
  --color-Ueberschriften: #2b1b12;
  --color-Fließtext: #4f3527;
  --color-Kaesten: #ddc7bb;
  --color-Backround: #fef7f2;
  --color-IconsSchriftSignUpFeld: #695346;
  --color-IconsObereLeiste: #2b1b12;
}
/* Globale Schriften */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Montserrat Extra Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* Montserrat Italic */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
:root {
  --font-montserrat-bold: "Montserrat", sans-serif;
  --font-montserrat-extrabold: "Montserrat", sans-serif;
  --font-montserrat-italic: "Montserrat", sans-serif;
}

/* Umgang Variabeln mit Tailwind sind hier zu sehen: https://tailwindcss.com/docs/theme */

/* Hero Image*/
.ken-burns {
  /* Startposition: leicht unten rechts */
  transform: scale(1) translate(10%, 10%);
  transform-origin: center;
  animation: kenBurns 20s ease-in-out infinite alternate;
}

@keyframes kenBurns {
  0% {
    transform: scale(1) translate(10%, 10%);
  }
  100% {
    transform: scale(1.1) translate(0%, 0%);
  }
}
