@import "tailwindcss";

/* Globale Farben */
:root {
  --color-Hauptlogo: #2a1b12;
  --color-Ueberschriften: #2b1b12;
  --color-Fließtext: #4f3527;
  --color-Kaesten: #ddc7bb;
  --color-Backround: #fef7f2;
  --color-IconsSchriftSignUpFeld: #695346;
  --color-IconsObereLeiste: #2b1b12;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Globale Schriften */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Montserrat Extra Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

/* Montserrat Italic */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Umgang Variabeln mit Tailwind sind hier zu sehen: https://tailwindcss.com/docs/theme */

/* Hero Image*/
.ken-burns {
  transform: scale(0.8) translate(10%, 10%);
  transform-origin: center;
  animation: kenBurns 15s ease-in-out forwards;
}

@keyframes kenBurns {
  0% {
    transform: scale(0.8) translate(10%, 5%);
  }
  100% {
    transform: scale(1) translate(0%, 0%);
  }
}
/* Formanimation brauner Balken */
@keyframes formAppear {
  0% {
    opacity: 0;
    transform: scale(0.8) translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

.form-appear {
  animation: formAppear 1s ease-out forwards;
}
